h1 {
  font-family: 'VT323', monospace;
  padding: 30px;
}

ul {
  list-style: none;
}

.App {
/*  text-align: center;*/
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
}

.save-button{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
}

.pure-menu {
  font-family: 'VT323', monospace;
  text-align: center;
}

.pure-menu-link {
  padding: 40px;
}

.pure-menu-selected {
  color: #44507F;
}

.instrument {
/*  background-color: #8389A3;*/
  text-align: center;
  height: 500px;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

#wave-button {
  width: 70px;
  height: 50px;
  margin: 5px;
}

input {
  color: black;
}

button {
  margin: 5px;
}
