h1 {
  font-family: 'VT323', monospace;
  padding: 30px;
}

ul {
  list-style: none;
}

.App {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
}

.save-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: auto;
  width: 100px;
}

.pure-menu {
  font-family: 'VT323', monospace;
  text-align: center;
}

.pure-menu-link {
  padding: 40px;
}

.pure-menu-selected {
  color: #44507F;
}

.instrument {
  position: absolute;
  text-align: center;
  height: 500px;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  top: 150px;
  left:0;
  right:0;
  bottom:0;
}

.fade-enter {
  opacity: 0.01;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media (max-width: 510px) {

  .instrument {
    width: 350px;
  }

}

@media (max-width: 320px) {

  .instrument {
    width: 300px;
  }

}

#wave-button {
  width: 70px;
  height: 50px;
  margin: 5px;
}

input {
  color: black;
}

button {
  margin: 5px;
}
